<dialog #modal (click)="handleClickOverlay($event)">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">title:</label>
            <input type="text" formControlName="title" />
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea rows="10" cols="10" formControlName="description"> </textarea>
        </div>
        <div>
            <button [disabled]="form.invalid" type="submit">submit</button>
            <button aria-label="Close" rel="prev" (click)="closeModal()">Close</button>
        </div>
    </form>
</dialog>
