.boards {
    display: flex;
    justify-content: space-between;
}

.add-new-board-block {
    margin-top: 1rem;
}

.add-board-dialog {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 250px;
    margin-top: 10px;

    .input-group {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

