.lists, .boards {
    display: grid;
    column-gap: 2rem;
    grid-auto-columns: 240px;
    grid-auto-flow: column;

    .list, .board {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .name {
            padding: 2rem;
            background-color: #eee;
            border-radius: 30px;
            color: black;
        }
    }
}

.card {
    padding: 2rem;
    background-color: var(--pico-form-element-background-color);
    border: var(--pico-form-element-border-color);
    border-radius: var(--pico-border-radius);
    color: var(--pico-form-element-color);
    text-overflow: ellipsis;
}

// import cdk styling for drag and drop
@import 'cdk.scss'
